<div class="container-lg-3">
    <label>Add test employee</label>
    <br>
    <button (click)="test()"  class="btn btn-primary">
        Add
    </button>
    </div>
    
    <div class="container-lg-3">
    <label>Show all employees</label>
    <br>
    <button (click)="getAll()"  class="btn btn-primary">
        Show
    </button>
    </div>
    
    <div class="container-lg-3">
    <label>Show employees with salary more 10000</label>
    <br>
    <button (click)="getSalaryMore10000()"  class="btn btn-primary">
        Show
    </button>
    </div>
    
    <div class="container-lg-3">
    <label>Update low salary</label>
    <br>
    <button (click)="updateSalary()"  class="btn btn-warning">
        Update
    </button>
    </div>
    
    <div class="container-lg-3">
    <label>Delete old employees</label>
    <br>
    <button (click)="deleteOldEmployees()"  class="btn btn-danger">
        Delete
    </button>
    </div>
